<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- prevent lazy loading; server needs to be started immediately -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="DoodleDebug"
            id="ch.unibe.scg.doodle.views">
      </category>
      <view
            name="DoodleDebugView_Example"
            icon="icons/sample.gif"
            category="ch.unibe.scg.doodle.views"
            class="ch.unibe.scg.doodle.views.DoodleDebugView_Example"
            id="ch.unibe.scg.doodle.views.DoodleDebugView_Example">
      </view>
      <view
            category="ch.unibe.scg.doodle.views"
            class="ch.unibe.scg.doodle.views.DoodleDebugView"
            icon="icons/sample.gif"
            id="ch.unibe.scg.doodle.views.DoodleDebugView"
            name="DoodleDebugView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ch.unibe.scg.doodle.views.DoodleDebugView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <!-- contribution to "Add Library" wizard -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            id="ch.unibe.scg.doodle.buildpath.DD_CONTAINER"
            class="ch.unibe.scg.doodle.buildpath.DoodleDebugContainterInitializer">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            id="ch.unibe.scg.doodle.buildpath.DD_CONTAINER"
            name="DoodleDebug Library"
            class="ch.unibe.scg.doodle.buildpath.DoodleDebugContainerPage">
      </classpathContainerPage>
   </extension>
   
   <!-- quickfix processors -->
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="ch.unibe.scg.doodle.quickfix.DoodleQuickfixProcessor"
            id="ch.unibe.scg.doodle.quickfix.DoodleQuickfixProcessor"
            name="DoodleDebug Quickfix">
      </quickFixProcessor>
   </extension>

</plugin>
