@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/2UX7WLTfW3W8TclTUvlFyQ.woff") format("woff");
}
body {
    font-family: "Roboto",Verdana,Tahoma,sans-serif;
    font-size: 11pt;
	line-height: 1.3em;
	margin: 0;
	background-color: #abc;
	background-image: url('../../img/dd-tex.png');
	overflow-y: scroll;
}
#wrapper {
    background-color: #def;
	background-image: url("../img/tile_hex.png");
	top: 0;
	max-width: 970px;
	margin: 0 auto;
	padding: 15px;
	border-width: 0 1px;
	border-style: solid;
	border-color: #7ad;
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
}
.title a,
li a {
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#mainTitle {
	color: #444;
	text-shadow: 1px 1px 0 rgba(0, 200, 0, 0.5);
}
#contents-wrapper {
	margin-top: 3em;
	overflow: hidden;
	margin-bottom: -20px;
}
#contents, img.logo {
	box-shadow: 8px 8px 10px -4px rgba(0,0,0,0.5);
}
#contents {
	background-color: #2bf;
	color: white;
	padding: 1em;
	max-width: 600px;
	float: left;
	margin-bottom: 20px;
}
#contents b {
	font-size: 12pt;
	line-height: 1.5em;
}
#contents a {
	color: #222;
	text-decoration: none;
	text-shadow: 0px -1px 0px #6cf;
}
#contents a:hover {
	text-decoration: underline;
}
.title {
	font-size: 1.3em;
	margin-top: 2em;
	color: darkgreen;
	text-shadow: 0 0 3px white;
}
.subtitle {
	margin: 0.5em 0;
	font-style: italic;
}
.code,
.codeBlock,
.key {
	font-family: monospace, Courier New, "Roboto", sans-serif;
	font-weight: bold;
	background-color: #fff;
	color: darkblue;
	border: solid rgba(0, 0, 0, 0.2);
	border-width: 1px 0 0 1px;
}
.code {
	padding: 1px 2px;
	display: inline-block;
}
.codeBlock, .tip, .example, .download, .exercise, .result {
	padding: .5em;
	margin: .5em 0;
	max-width: 610px;
	overflow: auto;
}
.key {
	color: #f60;
	background-color: #fed;
	border-radius: 3px;
	border: 1px solid;
	padding: 1px;
	box-shadow: 0 1px;
}
.tip, .example, .download, .exercise, .result {
	border-radius: 4px;
	border: 1px solid;
}
.tip {
	background-color: #FFFFC4;
	border-color: #ed6;
}
.tip:before {
	content: "Tip: ";
	font-weight: bold;
}
.example {
	background-color: #cfc;
	border-color: #7e2;
	float: left;
}
.example-wrapper {
	overflow: hidden;
}
.example:before {
	content: "Example: ";
	font-weight: bold;
}
.exercise {
	background-color: #fed;
	border-color: #eca;
}
.exercise:before {
	content: "Exercise: ";
	font-weight: bold;
}
ul, ol {
	margin: 0.25em;
	padding-left: 1.5em;
}
.smallNote {
	font-size: 0.75em;
	color: #666;
}
.image {
	margin: 0.5em 0;
	background-color: #cde;
	padding: 4px;
	font-style: italic;
}
.image img {
	max-width: 962px; /* 970 - 2*4 */
}
#footer {
	padding-top: 2em;
	color: gray;
	font-size: 0.8em;
}
#footer a {
	color: gray;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
	color: black;
}
::selection {
	background-color: #3d0;
	color: white;
}
::-moz-selection {
	background-color: #3d0;
	color: white;
}

/* examples */

#examples {
	overflow: hidden;
}
.example-file {
	background-color: #eef7ff;
	padding: .5em;
	float: left;
	margin: 1em;
	border: 1px dashed #8af;
}
.download-wrapper, .float-wrapper {
	overflow: hidden;
}
.download:before {
	content: "Download: ";
	font-weight: bold;
}
.download {
	background-color: #edf;
	border-color: #daf;
	float: left;
}
.result {
	background-color: #c4e6ff;
	border-color: #bcf;
	float: left;
}
.result:before {
	content: "Result: ";
	font-weight: bold;
	float: left;
	margin-right: 1em;
}
.result img {
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
img.icon {
	vertical-align: middle;
}
img.left, img.right, img.center {
	border: 1px solid #bbb;
	margin: 0.5em;
}
img.center {
	max-width: 940px;
}
img.left {
	float: left;
	margin-left: 0;
}
img.right {
	float: right;
	margin-right: 0;
}
img.logo {
	float: left;
	margin-right: 1em;
}