*.class
output.html
*.aux
*.synctex.gz
*.out
*.log
*.dvi
*.ps
Thesis/writing/Bachelors-Thesis_Cedric.pdf
Thesis/writing/bib
DDUpdateSite/features/
DDUpdateSite/plugins/
*study_*.fbr
DoodleDebug/bin
DoodleServer/bin
_git-pull-push.command
Thesis/writing/.DS_Store
Thesis/writing/Bachelors-Thesis_Cedric.blg
DemoVideo_before/bin/doodle/util/baby-tux.png
DemoVideo_before/bin/doodle/util/bird-green.png
DemoVideo_before/bin/doodle/util/bird.png
DemoVideo_before/bin/doodle/util/devil-green.png
DemoVideo_before/bin/doodle/util/devil.png
DemoVideo_before/bin/doodle/util/joker-blue.png
DemoVideo_before/bin/doodle/util/joker.png
DemoVideo_before/bin/doodle/util/smile-boy-green.png
DemoVideo_before/bin/doodle/util/smile-boy.png
DemoVideo_before/bin/doodle/util/troll.png