@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("http://themes.googleusercontent.com/static/fonts/roboto/v2/2UX7WLTfW3W8TclTUvlFyQ.woff") format("woff");
}
body {
    background-color: #DDDDDD;
    font-family: "Roboto",Verdana,Tahoma,sans-serif;
    font-size: 0.8em;
}
table {
	font-size: 1em;
}
hr {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.rendering {
    float: left;
    padding: 2px;
}
.printOutWrapper {
    display: block;
    margin-bottom: 4px;
	overflow: hidden;
}
.printOut, #lightboxContentWrapper, .level1 {
    background-color: #FFFFFF;
	border-width: 0;
    box-shadow: 0 0 2px #AAAAAA;
    overflow: hidden;
	display: inline-block;
}
.printOut {
	box-shadow: 0 1px 3px 1px #999;
}
.level1 {
	cursor: pointer;
}
.level1:hover {
    background-color: lightskyblue;
    box-shadow: 0 0 2px blue;
}
.level1:active {
	background-color: #58f;
	box-shadow: 0 0 2px black;
}
.ClassName {
    color: #0a8;
    font-size: 8pt;
	margin-bottom: -4pt;
	position: relative; /* Important to bring text in front of respective content box */
	text-shadow: 0 0 2px #DDD;
	/*filter: glow(color=#dddddd,strength=1);*/ /* IE; ugly rendering, not useful at all */
}
.column {
    float: left;
}
.line {
	overflow: hidden;
}
.StringRendering {
    margin: 0;
}
.error {
	background-color: red;
	color: yellow;
	max-width: 400px;
	max-height: 200px;
	overflow: scroll;
}
.couldNotRenderMessage * {
	background-color: red;
	color: yellow;
	box-shadow: none;
}
::selection {
	background-color: #3d0;
	color: white;
}