body {
	text-align: center;
	padding-top: 30px;
}

hr {
	height: 30px;
}

#welcomeTitle, #tutorial, #shortTut, #info/*, #background*/ {
	display: inline;
	padding: 4px;
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

#background {
	/*background-color: #def;*/
    display: inline-block;
    overflow: hidden;
    padding: 30px;
}

#welcomeTitle {
	text-shadow: 1px 2px 1px #222;
	color: #ff4;
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color=#222);
	background-color: #0af;
}

#shortTut {
	display: inline-block;
	background-color: #0fa;
}
#shortTut h3 {
	margin: 2pt;
}
#shortTut code {
	font-size: 12pt;
	background-color: #aff;
	padding: 1pt;
	margin: 2pt;
}

#tutorial {
	background-color: #df0;
}

#info {
	background-color: #fc4;
}
#info a {
	color: #333;
}
