@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
	text-align: center;
	padding-top: 30px;
}

hr {
	height: 30px;
}

#welcomeTitle, #tutorial, #shortTut, #appLogSelector/*, #background*/ {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
	overflow: hidden;
}

h2 {
	margin: 0.25em 0.5em;
	font-weight: 400;
	font-size: 24px;
}

code {
	font-family: "Ubuntu Mono", monospace;
	font-size: 25px;
	font-weight: 700;
	color: white;
	text-shadow: 0 1px 12px #980, 1px 2px 1px rgba(0,0,0,0.5);
	padding: 2px 4px;
	margin: 2px;
	border-radius: 2px;
}

#appLogSelector {
	color: black;
	background-color: #bfe055;
	display: inline-block;
}
#appLogSelector a {
	font-family: "Ubuntu Mono", monospace;
	display: block;
	text-decoration: none;
	color: rgba(0,0,0,0.75);;
	background-color: rgba(255, 255, 255, 0.4);;
	font-size: 15px;
	padding: 0.2em 0.5em;
	margin: 2px 0;
	text-align: left;
	border-radius: 2px;
}
#appLogSelector a:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
}
#appLogSelector .no-logs-info {
	font-style: italic;
	color: rgba(0,0,0,0.5);
}

#background {
	/*background-color: #def;*/
    display: block;
    overflow: hidden;
    padding: 30px;
}

#welcomeTitle {
	background-color: #0af;
	color: white;
	font-size: 40px;
	font-weight: 300;
	margin: 0;
	/*text-shadow: 1px 2px 1px #222;
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color=#222);*/
}

#tutorial {
	background-color: #ffe900;
}
#tutorial a {
	display: block;
	margin-top: 0.5em;
	color: #0af;
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
}

#info {
	padding: 2px 4px;
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	border-top-left-radius: 3px;
}
#info a {
	color: #666;
	text-decoration: none;
}
#info a:hover {
	text-decoration: underline;
}

/*
#welcomeTitle {
	background-image: linear-gradient(rgb(34,189,255), rgb(0,135,238));
}
#shortTut {
	background-image: linear-gradient(rgb(34,255,203), rgb(0,238,155));
}
#tutorial {
	background-image: linear-gradient(#ef0, #ed0);
}
#info {
	background-image: linear-gradient(rgb(255,221,85), rgb(255,189,34));
}
*/
