#lightbox {
	position: fixed;
	box-shadow: 0 4px 30px black;
	z-index: 3;
	padding: 4px;
	background-color: rgba(150,150,150,0.5);
	border: 1px outset #666;
	width: 90%;
	left: 5%;
	top: 30px;
}

#closeButton {
	top: 30px;
	left: 95%;
	position: fixed;
	margin-top: -6px;
	z-index: 4;
	cursor: pointer;
}

#closeButton:hover {
	
}

#overlay {
	background-color: black;
	opacity: 0.7;
	position: fixed;
	z-index: 2;
}

#lightboxWrapper {
	height: 0;
}

/* lightbox content ************************************* */

#lightboxContentWrapper {
	border: 1px inset #666;
	padding: 4px;
	display: block;
	overflow-y: auto;
}

#breadcrumbsWrapper {
	display: block;
}

#breadcrumbs {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 2px 2px 0 2px;
	margin-bottom: 4px;
	border-radius: 1px;
	display: inline-block;
}

.breadcrumb {
	display: inline-block;
	background-color: #999;
	color: white;
	border: 1px solid #666;
	box-shadow: 0 0 2px #666 inset;
	padding: 0 2px;
	font-weight: 500;
	border-radius: 1px;
	margin-bottom: 2px;
}

.betweenBreadcrumbs {
	display: inline-block;
}

#activeBreadcrumb {
	background-color: #5a5;
	box-shadow: 0 0 4px 3px #383 inset;
	border-color: #383;
	font-weight: bold;
}

.inactiveBreadcrumb:hover {
	color: #444;
	background-color: #8dd;
	box-shadow: 0 0 1px 1px #444;
	border-color: #8dd;
	cursor: pointer;
}

.inactiveBreadcrumb:active {
    box-shadow: none;
    border-color: #444;
}

/* where objects are rendered into */
#lightboxRendering {
	background-color: #eee;
	padding: 4px;
	float: left;
}
/* nice css3 gradient */
#lightboxRendering {
	background-image: linear-gradient(bottom, rgb(238,238,238) 100%, rgb(221,221,221) 0%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(221,221,221) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(221,221,221) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(221,221,221) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 100%, rgb(221,221,221) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(238,238,238)),
		color-stop(0, rgb(221,221,221))
	);
}
#lightboxRendering > .ClassName {
	margin: 0;
}
