#lightbox {
	position: absolute;
	box-shadow: 0 4px 30px black;
	z-index: 2;
	padding: 4px;
	background-color: rgba(150,150,150,0.5);
	border: 1px outset #666;
}

#closeButton {
	position: absolute;
	margin-top: -6px;
	margin-left: -10px;
	z-index: 2;
	cursor: pointer;
}

#closeButton:hover {
	
}

#overlay {
	background-color: black;
	opacity: 0.7;
	position: fixed;
	z-index: 1;
}

#lightboxWrapper {
	height: 0;
}

/* lightbox content ************************************* */

#lightboxContentWrapper {
	border: 1px inset #666;
	padding: 4px;
}

#breadcrumbs {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 2px;
}

.breadcrumb {
	display: inline-block;
	background-color: #999;	
	color: white;
	border: 1px solid #666;
	box-shadow: 0 0 2px #666 inset;
	padding: 0 2px;
	font-weight: 500;
}

#activeBreadcrumb {
	background-color: #5a5;
	box-shadow: 0 0 4px 3px #383 inset;
	border-color: #383;
	font-weight: bold;
}

#activeBreadcrumb:hover, .breadcrumb:hover {
	background-color: #6bb;
	box-shadow: 0 0 4px 3px #499 inset;
	border-color: #499;
	cursor: pointer;
}